/* === BASE TYPOGRAPHY === */
html {
  font-size: 16px; 
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color:#D9D9D9;
  color: #333;
      }

/* =============== SECTION 1: HEADER =============== */
.desktop-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  background-color: #fff;
}

/* Item: Logo + Brand Text */
.logo-area {
  display:flex;
  gap: 2px;
  margin-left: 24px;
  height: 32px;
  align-items: center;
}

.brand-colmar {
  font-size: 20px;
  font-weight: 500;
  color: #0e0000;
}

.brand-academy {
  font-size: 20px;
  font-weight: 400;
  color: #b2b2b2;
}

.menu-area a {
  text-decoration:none;
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  margin: 16px;
  color: black;
}

.menu-area a:hover {
  text-decoration: underline;
}

/* === RESPONSIVE: Desktop View ≥768px === */
@media (min-width: 768px) {
  .desktop-menu {
    display: flex; /* Show desktop menu */
  }

  .mobile-menu {
    display: none; /* Hide mobile menu */
  }
}

/* === RESPONSIVE: Mobile View <768px === */
@media (max-width: 767px) {
  .desktop-menu {
    display: none; /* Hide desktop menu */
  }

  .mobile-menu {
    display: flex; 
    height: 64px;
    background-color: #fff;
    justify-content: space-evenly;
    align-items: center;
  }
}

/* =============== SECTION:2 HERO ## Desktop View (≥768px) ## =============== */
.hero {
  display: flex;
  flex-direction: row;
  align-items: center; 
  background-color: #f2f2f2; 
  height:auto;
}

.hero img {
  width: 60%;
  height: auto;
  padding: 32px 24px;
  object-fit: cover;
}

.hero-text {
  display: flex; 
  width: 35%;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  color:#555555;
  gap:2rem ;
}

.hero-text h1 {
  margin:0;
  font-size: 2.75rem;
}

.hero-text p {
  margin: 0;
  font-size: 1.5rem;
  font-weight:500;
}

.start-button {
  margin:0;
  width: 90%;
  display: inline-flex;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  background-color:#555555;
  color: #f7f8fa;
  padding-top: 8px;
  padding-bottom: 8px;
}

/* === RESPONSIVE: Mobile View (<768px) === */
@media (max-width: 767px) {
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  
  .hero-text {

    width: 100%;
    justify-content: left;
  }

  .hero img {
    width: 100%;
  }

  .hero-text h1 {
    font-size: 2.5rem;
    margin: 0px 16px;
  }

  .hero-text p {
    font-size: 1.25rem;
    margin-left: 16px;
  }

  .start-button {
    font-size: 1rem;
    margin: 0px 16px 32px;
    align-items: center;
    padding: 8px 0;
    font-weight: bold;
    height: auto;
   }
}
